<ion-header>
  <ion-toolbar>
    <!-- Botón de regreso -->
  <ion-button class="back-button" [routerLink]="['/home']">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-button>
    <ion-title>Añadir Ave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitBirdForm()">
    <ion-grid>
      <!-- Nombre del ave -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="birdName" name="name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Nombre científico -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nombre Científico (opcional)</ion-label>
            <ion-input [(ngModel)]="scientificName" name="scientificName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Descripción -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Selección de colores -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Colores <ion-text color="danger">*</ion-text></ion-label>
            <ion-select [(ngModel)]="colors" name="colors" multiple="true" placeholder="Selecciona colores">
              <!-- Opciones de colores -->
              <ion-select-option *ngFor="let color of colorOptions" [value]="color">{{ color }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Imagen -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Imagen</ion-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
          </ion-item>
        </ion-col>
      </ion-row>
      
      <!-- Mapa de ubicación -->
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Mapa (Selecciona ubicación)</ion-label>
          <div id="map-container">
            <div id="map"></div>
            <div id="map-pointer">📍</div>
          </div>
        </ion-col>
      </ion-row>

      <!-- Coordenadas -->
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Latitud</ion-label>
            <ion-input [(ngModel)]="latitude" name="latitude" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Longitud</ion-label>
            <ion-input [(ngModel)]="longitude" name="longitude" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Botón para enviar -->
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" type="submit" color="primary" [disabled]="!isFormValid()">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
