<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Ave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Imagen en grande -->
  <ion-img [src]="photoUrl"></ion-img>

  <!-- Información de la ave -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ bird?.name }}</ion-card-title>
      <ion-card-subtitle>{{ bird?.scientific_name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Descripción:</strong> {{ bird?.description }}</p>
      <p><strong>Colores:</strong> {{ bird?.colors }}</p>
      <p><strong>Ubicación:</strong> 
        <a [href]="mapboxUrl" target="_blank">Ver en Mapbox</a>
      </p>
      <!-- Mapa de ubicación -->
      <img [src]="mapboxUrl" alt="Mapa de la ubicación" />
    </ion-card-content>
  </ion-card>

  <!-- Botones -->
  <ion-footer>
    <ion-button expand="full" color="primary" (click)="updateBird()">Actualizar</ion-button>
    <ion-button expand="full" color="danger" (click)="deleteBird()">Eliminar</ion-button>
  </ion-footer>
</ion-content>
