<ion-content *ngIf="bird">
  <ion-card class="info">
    <img [src]="bird.photo" alt="Imagen del ave" />
    <ion-card-header>
      <ion-card-title>{{ bird.commonName }}</ion-card-title>
      <ion-card-subtitle>{{ bird.scientificName }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Descripción:</strong> {{ bird.description }}</p>
      <p><strong>Ubicación:</strong> {{ bird.location }}</p>
    </ion-card-content>
  </ion-card>

  <div>
    <ion-button class="back-button" [routerLink]="['/catalogo']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
  </div>

  <div>
    <ion-button (click)="addToFavorites()">
      Añadir a favoritos
    </ion-button>
  </div>
</ion-content>